langchain
langchain-core
langchain-openai  
langchain-community
langchain-qdrant
qdrant-client
langchain-classic
pydantic-settings
langchain-experimental
langchain-text-splitters
fastapi
uvicorn[standard]
pypdf
python-multipart
langchain-neo4j
